@charset "UTF-8";
/*! Vendor*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

/*! Helpers*/
/*常用颜色*/
/*！layout 布局*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
}

html,
body {
  font-family: "微软雅黑";
  font-size: 100%;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  color: #555;
}

html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.1s;
}

html i,
html em,
html b,
html strong,
html span {
  -webkit-transition: none;
  transition: none;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #555;
  -moz-box-shadow: 0px 5px -2px 0px #333;
  -webkit-box-shadow: 0px 5px -2px 0px #333;
  box-shadow: 0px 5px -2px 0px #333;
}

button,
input[type=button] {
  outline: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
}

.fsNav {
  background-color: #f8f8f8;
  height: 30px;
  width: 100%;
  line-height: 30px;
  position: relative;
  z-index: 290;
  font-size: 0.75rem;
}
.fsNav .fsWidth {
  width: 1190px;
  margin: 0 auto;
}
.fsNav .fsWidth .fsNavList {
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
.fsNav .fsWidth .fsNavList li {
  padding: 0 8px;
  float: left;
  line-height: 28px;
}
.fsNav .fsWidth .fsNavList li .fsMyHome {
  position: relative;
  border: 1px solid #f8f8f8;
  height: 28px;
}
.fsNav .fsWidth .fsNavList li .fsMyHome a {
  height: 28px;
}
.fsNav .fsWidth .fsNavList li .fsMyHome ol.fsDropdown {
  width: 68px;
  line-height: 22px;
  padding: 1px 10px 10px;
  z-index: 100;
  position: absolute;
  top: 28px;
  left: -1px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  display: none;
  border-top: 0;
}

/*! Component 组件*/
.fs-table {
  table-layout: fixed;
  width: 1300px;
}
.fs-table thead {
  border: 1px solid red;
}
.fs-table thead th {
  padding: 10px;
  border: 1px solid red;
  vertical-align: middle;
}
.fs-table tbody {
  border: 1px solid black;
}
.fs-table tbody td {
  border: 1px solid red;
  padding: 10px;
}
.fs-table tfoot {
  border: 1px solid red;
  padding: 10px;
}

.aaa {
  width: 1000px;
  overflow: overlay;
  overflow-x: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.fs-btn {
  padding: 0.375rem 0.75rem;
  display: inline-block;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 20px;
}

.fs-btn-group .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 20px;
}

.fs-btn-group .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 20px;
}

.fs-btn-group .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 20px;
}

.fs-btn-success {
  background: #1ab394;
  color: white;
}

th,
td {
  font-size: 12px;
}
th:nth-child(1),
td:nth-child(1) {
  width: 100px;
}
th:nth-child(2),
td:nth-child(2) {
  width: 100px;
}
th:nth-child(3),
td:nth-child(3) {
  width: 100px;
}
th:nth-child(4),
td:nth-child(4) {
  width: 100px;
}
th:nth-child(5),
td:nth-child(5) {
  width: 100px;
}
th:nth-child(6),
td:nth-child(6) {
  width: 100px;
}
th:nth-child(7),
td:nth-child(7) {
  width: 200px;
}
th:nth-child(8),
td:nth-child(8) {
  width: 200px;
}
th:nth-child(9),
td:nth-child(9) {
  width: 200px;
}
th:nth-child(10),
td:nth-child(10) {
  width: 200px;
}
