.fsTabsBox {
    margin-top: 20px;
    width: 1190px;
    margin-left: auto;
    margin-right: auto;
    .fsTabs {
        position: relative;
        width: 290px;
        height: 150px;
        margin-right: 10px;
        overflow: hidden;
        float: left;
        &:nth-last-of-type(1) {
            margin-right: 0 !important;
        }
        .word {
            position: absolute;
            font-size: 14px;
            left: 20px;
            top: 18px;
            z-index: 2;
            p {
                font-size: 22px;
            }
        }
    }
}