@charset 'UTF-8';
.login-header {
    position: relative;
    width: 1190px;
    margin: 0 auto;
    text-align: left;
    .user_header {
        padding: 15px 0px;
        @include clearfix;
        .logo {
            background: url(http://image.meilele.com/images/flow2.png) 0 0 no-repeat;
            width: 160px;
            height: 52px;
        }
        .nav {
            width: 180px;
            padding-top: 40px;
            text-align: right;
            font-size: 12px;
        }
    }
}

.bg-red {
    background: #cf000e;
}

.main {
    padding: 72px 0;
    min-width: 1190px;
    .content {
        @include clearfix;
        margin: 0 auto;
        width: 1070px;
        position: relative;
        aside {
            position: relative;
            min-height: 400px;
            background: #fff;
            padding: 27px;
            .yahei {
                width: 306px;
                font-family: "Microsoft YaHei", "SimHei";
                .switch-type {
                    position: relative;
                    @include clearfix;
                    width: 306px;
                    overflow: hidden;
                    .login-switch {
                        //切换登录
                        position: relative;
                        font-size: 16px;
                        font-weight: bold;
                        border-bottom: 1px solid #d1d1d1;
                        color: #888;
                        width: 459px;
                        height: 42px;
                        li {
                            position: relative;
                            float: left;
                            width: 153px;
                            text-align: center;
                            padding: 12px 0;
                            cursor: pointer;
                            &.on {
                                margin-bottom: -1px;
                                color: #cf000e;
                                border-bottom: 2px solid #cf000e;
                            }
                            &.switch-mobile {
                                color: #333;
                                text-align: left;
                                margin-bottom: -1px;
                                border-bottom: 2px solid #fff;
                            }
                            &.switch-weixin {
                                .i-new {
                                    position: absolute;
                                    top: 4px;
                                    left: 108px;
                                }
                            }
                        }
                    }
                }
                .login-form {
                    width: 306px;
                    overflow: hidden;
                    position: relative;
                    .login-type {
                        @include clearfix;
                        left: -306px;
                        // left: -612px;
                        position: relative;
                        width: 918px;
                        .login-weixin {
                            width: 306px;
                            height: 298px;
                            padding-top: 53px;
                            text-align: center;
                            .qr-code {
                                position: relative;
                                >img {
                                    margin-left: 66px;
                                }
                                .qr-mark {
                                    position: absolute;
                                    background: rgba(0, 0, 0, .5);
                                    width: 174px;
                                    height: 174px;
                                    left: 66px;
                                    top: 0;
                                }
                            }
                        }
                        .login-pwd {
                            padding-top: 25px;
                            width: 306px;
                            .checkbox-group {
                                height: 21px;
                                line-height: 21px;
                                .i-checkbox {
                                    width: 21px;
                                    height: 21px;
                                    margin: 0 4px 0 0;
                                }
                            }
                        }
                        .login-mobile {
                            padding-top: 12px;
                            .i-phone {
                                height: 20px;
                            }
                        }
                    }
                    .input-group {
                        position: relative;
                        height: 41px;
                        border: 1px solid #ddd;
                        overflow: hidden;
                        line-height: 41px;
                        input {
                            float: left;
                            height: 20px;
                            font-size: 13px;
                            width: 254px;
                            border: 0;
                            padding: 19px 0;
                            margin: 0;
                        }
                        .refresh-btn {
                            color: #4a92f5;
                        }
                    }
                }
            }
        }
    }
}

%cursor {
    float: left;
    cursor: pointer;
    width: 19px;
    height: 19px;
    margin: 10px;
}

$formName:(checkbox, -84px -30px),
(user, 0 -30px),
(pwd, -21px -30px),
(captcha, -42px -30px),
(phone, -63px -30px);
@each $animal,
$size in $formName {
    .i-#{$animal} {
        background: url('../images/allPuzzle.png') $size no-repeat;
        @extend %cursor;
    }
}

.checked {
    background-position: -107px -30px;
}

.sms-btn {
    font-size: 12px;
    background: #f0f0f0;
    color: #333;
    height: 34px;
    width: 110px;
    text-align: center;
    line-height: 34px;
    border-radius: 3px;
    margin-top: 3px;
    &:hover {
        color: #333!important;
        text-decoration: none;
    }
}

.select-username {
    position: relative;
    overflow: inherit;
}

.captcha-img {
    margin: 5px;
}

.error_tip {
    font-size: 12px;
    margin: 5px 0 4px;
}

.checkbox-group {
    font-size: 13px;
}

.submit-btn {
    display: block;
    height: 42px;
    line-height: 42px;
    background-color: #cf000e;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0 0;
}

.regist-group {
    @include clearfix;
    margin: 20px 0 30px;
    font-size: 12px;
    a {
        &:hover {
            text-decoration: none;
            color: #4a92f5!important;
        }
    }
}

//icon
$animal-list: (qq,
0 0),
(weibo,
-28px 0),
(weixin,
-56px 0),
(zhifubao,
-86px 0),
(mobile,
-143px 0);
@each $animal,
$size in $animal-list {
    .i-#{$animal} {
        @extend %icon;
        background-position: $size;
    }
}

.other-group {
    font-size: 12px;
    dt {
        margin-bottom: 10px;
    }
    .other-login {
        @include clearfix;
        width: 179px;
        border-right: 1px solid #e6e6e6;
    }
    .mobile-login {
        padding-left: 20px;
        _padding-left: 10px;
    }
}

img {
    overflow: hidden;
    vertical-align: top;
    background: #eee;
}