.fsSearchBox {
    width: nth($size, 1);
    @include breakpoint($big) {
        width: nth($size, 2);
    }
    margin: 0 auto;
    padding: 29px 0;
    @include clearfix;
    .fsLogo {
        @include span(2);
    }
    .fsAd {
        @include span(2);
    }
    .fsSearchInput {
        @include span(5.9);
        .fsGroupInput {
            @include clearfix;
            border: 3px solid nth($sc, 1);
            input[type=text] {
                @include span(10.5);
                height: 30px;
                border: 0;
                outline: 0;
            }
            input[type=button] {
                height: 30px;
                @include span(1.5);
                background: nth($sc, 1);
                color: #fff;
                font-size: 20px;
            }
        }
        .fsKeyInput {
            a {
                padding: 10px 5px 0;
                float: left;
                color: #999;
                font-size: 14px;
                &:hover {
                    color: nth($sc, 1);
                }
            }
        }
    }
    .cq {
        @include span(1);
        position: relative;
        .cqback {
            @include outline(#ccc);
            position: absolute;
            left: 130px;
            top: -20px;
            padding: 5px;
            p {
                padding-top: 5px;
            }
        }
    }
}