.user_all {
    width: nth($size, 1);
    @include breakpoint($big) {
        width: nth($size, 2);
    }
    position:relative;
    margin: 0 auto;
    .user_header {
        @include clearfix;
        padding: 30px 0px;
        .logo {
            background: url(http://image.meilele.com/images/flow2.png) 0 0 no-repeat;
            width: 160px;
            height: 52px;
        }
        .regist_title {
            position: relative;
            top: 20px;
            left: 18px;
            font-size: 24px;
            color: #333;
        }
        .nav {
            width: 180px;
            padding-top: 40px;
            text-align: right;
            font-size: 12px;
        }
    }
    .user_content {
        border: 1px solid #d7d7d7;
        padding: 40px;
        @include clearfix;
        font-size: 12px;
        padding-right: 0;
        .user_login {
            width: 768px;
            border-right: 1px solid #ddd;
            color: #555;
            form {
                .register_box {
                    padding: 20px 0;
                    label {
                        &.tips {
                            width: 100px;
                            display: inline-block;
                            text-align: right;
                            font-size: 14px;
                            span {
                                padding-right: 2px;
                            }
                        }
                    }
                    input {
                        &.register_input {
                            height: 40px;
                            line-height: 40px;
                            width: 296px;
                            border: 1px solid #d5d5d5;
                            font-size: 14px;
                            padding: 0 5px;
                        }
                        &.users_input_error {
                            background: #fff3f3;
                            border-color: #ff5242;
                            color: #d10000!important;
                        }
                    }
                    .success {
                        background: url(../images/login_icon2.png) scroll no-repeat 0 -206px;
                        display: inline-block;
                        vertical-align: middle;
                        width: 16px;
                        height: 16px;
                        margin-left: 3px;
                    }
                    .readed {
                        line-height: 18px;
                        padding: 10px 0 20px 100px;
                        input {
                            vertical-align: top;
                        }
                    }
                }
            }
        }
        .error {
            visibility: hidden;
            height: 22px;
            line-height: 22px;
            margin-left: 411px;
            color: gray;
            position: relative;
            top: -28px;
            width: 265px;
            height: 26px;
            line-height: 26px;
            text-indent: .5em;
            border: solid 1px #d5d5d5;
            background: #fff;
        }
        .error2 {
            background: url(../images/user/login_icon2.png?1008) scroll no-repeat 100px -224px;
            color: #d10000;
            background: #fff3f3;
            border: solid 1px #ffe4e4;
        }
        .shower {
            top: -26px;
            padding: 5px;
            line-height: 15px;
            height: 40px;
            width: 255px;
            text-indent: 0px;
            margin-top: -14px;
            visibility: visible;
        }
        #register_captcha_e {
            position: relative;
            #JS_captcha {
                position: absolute;
                left: 296px;
                top: 7px;
                background: url(../images/user/loading.gif) scroll no-repeat center center;
            }
            .change-one {
                position: absolute;
                left: 361px;
                top: 13px;
                color: #4a92f5;
            }
        }
        #sms_captcha_e {
            position: relative;
            .sms_captcha_wait_span {
                color: #aaa;
                display: none;
            }
            .sms_captcha_wait_span {
                position: absolute;
                left: 285px;
                top: 3px;
                display: inline-block;
                vertical-align: top;
                width: 111px;
                height: 34px;
                line-height: 34px;
                color: #333;
                background: #f0f0f0;
                text-align: center;
                font-size: 13px;
            }
            .get_sms_captcha_btn {
                position: absolute;
                left: 285px;
                top: 3px;
                display: inline-block;
                vertical-align: top;
                width: 111px;
                height: 34px;
                line-height: 34px;
                color: #333;
                background: #f0f0f0;
                text-align: center;
                font-size: 13px;
                &:hover {
                    color: #4a92f5!important;
                    text-decoration: none;
                }
            }
        }
    }
    .regi_btn {
        cursor: pointer;
        background: #cf000e;
        width: 308px;
        height: 42px;
        border: 0;
        outline: 0;
        border-radius: 4px;
    }
    .f16 {
        font-size: 16px;
    }
    .operate {
        .yahei {
            display: inline-block;
            text-align: center;
            img {
                vertical-align: middle;
            }
        }
    }
}

.register_submit {
    background: #cf000e;
    border: 0;
    height: 32px;
    width: 70px;
    cursor: pointer;
    border-radius: 4px;
}

.register_submit {
    background-position: -117px 0;
    width: 112px;
    height: 40px;
}

.register_submit2 {
    background-position: -117px -40px;
    color: #b0b0b0;
}

.users_submit,
.register_submit {
    background: #cf000e;
    border: 0;
    height: 32px;
    width: 70px;
    cursor: pointer;
    border-radius: 4px;
}

.user_register {
    width: 220px;
    margin-right: 80px;
    .user_ok_register {
        text-align: center;
        border-bottom: 1px solid #eee;
        padding: 20px 0;
        .logintoreg {
            display: inline-block;
            text-align: center;
            line-height: 32px;
        }
    }
}

.img_login2 {
    text-align: center;
    padding: 90px 0;
    border-bottom: 1px solid #eee;
}

.share_login {
    margin-top: 20px;
    .api_tips {
        color: #999;
        font-size: 12px;
    }
    .api_from {
        a {
            background: url(../images/allPuzzle.png);
            height: 28px;
            width: 28px;
            display: inline-block;
            float: left;
            margin-right: 10px;
            margin-top: 10px;
        }
        $list-sup:(qq, 0 0),
        (sina, -28px 0),
        (alipay, -86px 0);
        @each $list,
        $size in $list-sup {
            .#{$list} {
                background-position: $size;
            }
        }
    }
}