.fsNav {
    a {
        color: #999;
    }
    background-color: #f8f8f8;
    height: 30px;
    width: 100%;
    line-height: 30px;
    position: relative;
    z-index: 290;
    font-size: rem(12);
    .fsWidth {
        width: nth($size, 1);
        @include breakpoint($big) {
            width: nth($size, 2);
        }
        margin: 0 auto;
        .fsNavList {
            @include span(6);
            @include breakpoint($big) {
                @include span(5);
            }
            li {
                padding: 0 8px;
                float: left;
                line-height: 28px;
                &.fore {
                    position: relative;
                    border: 1px solid #f8f8f8;
                    height: 28px
                }
                // myhome
                &.fsMyHome {
                    width: 92px;
                    text-align: center;
                    a {
                        height: 28px;
                    }
                    ol {
                        &.homeSelf {
                            width: 92px;
                            line-height: 22px;
                            padding: 1px 10px 10px;
                            li {
                                padding: 0 9px;
                            }
                        }
                    }
                }
                // mycart
                &.fsMyCart {
                    .drop-title {
                        position: relative;
                        display: block;
                        padding: 0 20px 0 8px;
                        z-index: 200;
                    }
                    .fsMyCartBox {
                        width: 245px;
                        padding-bottom: 15px;
                        //cart list
                        .fsMyCartList {
                            height: auto;
                            max-height: 234px;
                            padding: 10px 15px;
                            overflow-y: auto;
                            li {
                                border-bottom: 1px dotted #eaeaea;
                                padding: 10px 0;
                                line-height: 18px;
                                height: auto;
                                a {
                                    &.cart-img {
                                        margin-left: 98px;
                                        margin-top: 3px;
                                        img {
                                            float: left;
                                        }
                                    }
                                    &.cart-link {
                                        display: block;
                                        height: 36px;
                                        color: #666;
                                        margin-left: 98px;
                                        overflow: hidden;
                                        word-break: break-all;
                                        word-wrap: break-word;
                                    }
                                }
                                p {
                                    &.cart-cal {
                                        margin-left: 98px;
                                        margin-top: 3px;
                                        >a {
                                            float: right;
                                        }
                                    }
                                }
                            }
                        } //goods all
                        .fsCountArea {
                            text-align: right;
                            padding-right: 15px;
                            font-weight: bold;
                            color: #999;
                            margin: 0 2px 0 4px;
                            a {
                                background-color: nth($sc, 1);
                                display: inline-block;
                                color: #fff;
                                padding: 0 10px;
                            }
                        }
                    }
                }
                .fsGaerCode {
                    padding: 14px 22px;
                    text-align: center;
                }
                &:hover .fsGaerCode {
                    display: block;
                }
                &.fsHelp {
                    width: 92px;
                    text-align: center;
                    a {
                        height: 28px;
                    }
                    ol {
                        &.fsHelpSelf {
                            width: 92px;
                            line-height: 22px;
                            padding: 1px 10px 10px;
                            li {
                                padding: 0 9px;
                            }
                        }
                    }
                }
            }
            // left ul
            &:nth-child(2) {
                @include span(6);
                @include breakpoint($big) {
                    @include span(7);
                }
                li {
                    &.hover {
                        background: #fff;
                        border: 1px solid #eaeaea;
                        border-bottom: 1px solid #fff;
                        i[class*=fa-angle-down] {
                            transform: rotate(-180deg);
                        }
                    }
                }
            }
        }
    }
}

[class*=fa-angle-down] {
    transition: .2s ease-in-out;
    transform-origin: 7px;
    padding-left: 3px;
}

// list
.fsDropdown {
    z-index: 100;
    @extend %absolute;
    top: 27px;
    left: -1px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    display: none;
    border-top: 0;
}

.fsCart {
    color: nth($sc, 1);
    font-size: 16px;
    padding: 0 5px;
    vertical-align: text-bottom;
}

.topSearch {
    display: none;
    background: nth($sc, 1);
    background: rgba(207, 0, 14, .7);
    @include span(12);
    padding: 5px 0;
    .topSearchCont {
        width: nth($size, 1);
        margin: 0 auto;
        @include breakpoint($big) {
            width: nth($size, 2);
        }
        height: 45px;
        .s-logo {
            width: 123px;
            height: 35px;
            float: left;
            background: url('../images/site.png') -92px -202px no-repeat;
            _background: url('../images/site.gif') -92px -202px no-repeat;
            margin-top: 5px;
            margin-right: 107px;
        }
        .searchForm {
            [type="search"] {
                width: 50%;
                height: 35px;
                margin-top: 5px;
                outline: 0;
                border: 0;
            }
            [type=button] {
                width: 10%;
                height: 35px;
                color: #fff;
                font-size: 20px;
                background: nth($sc, 1);
                vertical-align: bottom;
            }
        }
    }
}

.fixBox {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: block;
}